USE [QuanLyThuVien_K235480106001]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_BaoCaoTongHopViPham]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_BaoCaoTongHopViPham]
(
    @MaDocGia INT
)
RETURNS @BangTongHop TABLE 
(
    MaDocGia INT,
    TenDocGia NVARCHAR(255),
    TongTienPhat MONEY,
    SoBienBan INT,
    HinhThucXuLy NVARCHAR(255)
)
AS
BEGIN
    DECLARE @TongPhat MONEY = 0;
    DECLARE @TenDG NVARCHAR(255);

    -- Lấy tên độc giả
    SELECT @TenDG = TenDocGia FROM DocGia WHERE MaDocGia = @MaDocGia;

    -- Tính tổng tiền phạt tích lũy (Sách cũ đã trả + Sách đang mượn trễ)
    -- Logic: 5k/ngày, tối đa = giá sách, vượt trần -> giá sách + 50%
    SELECT @TongPhat = SUM(
        CASE 
            -- Trường hợp 1: Đã trả sách
            WHEN MT.NgayTraThucTe IS NOT NULL THEN ISNULL(MT.TienPhat, 0)
            
            -- Trường hợp 2: Chưa trả và đã quá hạn
            WHEN MT.NgayTraThucTe IS NULL AND GETDATE() > MT.NgayTraDuKien THEN
                CASE 
                    WHEN (DATEDIFF(DAY, MT.NgayTraDuKien, GETDATE()) * 5000) < S.GiaBan 
                    THEN (DATEDIFF(DAY, MT.NgayTraDuKien, GETDATE()) * 5000)
                    ELSE (S.GiaBan * 1.5)
                END
                
            -- Trường hợp 3: Chưa trả nhưng vẫn trong hạn mượn
            ELSE 0
        END
    )
    FROM [QLMuonTra] MT
    JOIN [Sach] S ON MT.MaSach = S.MaSach
    WHERE MT.MaDocGia = @MaDocGia;

    -- Xử lý ngoại lệ nếu chưa từng mượn sách
    SET @TongPhat = ISNULL(@TongPhat, 0);

    -- Đổ kết quả vào biến bảng, kèm phân loại Biên bản >300k và >600k
    INSERT INTO @BangTongHop
    SELECT 
        @MaDocGia,
        @TenDG,
        @TongPhat,
        CASE 
            WHEN @TongPhat > 600000 THEN 2 
            WHEN @TongPhat > 300000 THEN 1 
            ELSE 0
        END,
        CASE 
            WHEN @TongPhat > 600000 THEN N'BIÊN BẢN 2: Cấm mượn sách 1 năm'
            WHEN @TongPhat > 300000 THEN N'BIÊN BẢN 1: Cảnh cáo hệ thống'
            ELSE N'Tình trạng tốt'
        END;

    RETURN;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_DemSoSachDangMuon]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_DemSoSachDangMuon]
(
    @MaDocGia INT
)
RETURNS INT
AS
BEGIN
    DECLARE @SoLuong INT;

    SELECT @SoLuong = COUNT([MaGiaoDich])
    FROM [QLMuonTra]
    WHERE [MaDocGia] = @MaDocGia 
      AND [NgayTraThucTe] IS NULL;

    RETURN ISNULL(@SoLuong, 0); 
END;
GO
/****** Object:  Table [dbo].[Sach]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sach](
	[MaSach] [int] IDENTITY(1,1) NOT NULL,
	[MaTheLoai] [int] NOT NULL,
	[TenSach] [nvarchar](200) NOT NULL,
	[GiaBan] [float] NULL,
	[NamXuatBan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLMuonTra]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLMuonTra](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NOT NULL,
	[MaSach] [int] NOT NULL,
	[NgayMuon] [datetime] NULL,
	[NgayTraDuKien] [datetime] NOT NULL,
	[NgayTraThucTe] [datetime] NULL,
	[TienPhat] [money] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_XemLichSuMuon]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_XemLichSuMuon]
(	
	@MaDocGia INT
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT 
		S.[TenSach],
		MT.[NgayMuon],
		MT.[NgayTraDuKien],
		MT.[NgayTraThucTe]
	FROM [QLMuonTra] MT
	JOIN [Sach] S ON MT.[MaSach] = S.[MaSach]
	WHERE MT.[MaDocGia] = @MaDocGia
)
GO
/****** Object:  Table [dbo].[DocGia]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia](
	[MaDocGia] [int] IDENTITY(1,1) NOT NULL,
	[TenDocGia] [nvarchar](100) NOT NULL,
	[NgaySinh] [date] NULL,
	[TienCoc] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocGia_Demo]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocGia_Demo](
	[MaDocGia] [int] NOT NULL,
	[TenDocGia] [nvarchar](50) NULL,
	[HangThanhVien] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDocGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuGiaSach]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuGiaSach](
	[MaLog] [int] IDENTITY(1,1) NOT NULL,
	[MaSach] [int] NULL,
	[GiaCu] [money] NULL,
	[GiaMoi] [money] NULL,
	[NgayThayDoi] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLog] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichSuTraSach_Demo]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichSuTraSach_Demo](
	[MaTra] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NULL,
	[NgayTra] [date] NULL,
	[TrangThaiTra] [nvarchar](20) NULL,
	[DiemThuong] [decimal](10, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuaTang_Demo]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuaTang_Demo](
	[MaQua] [int] IDENTITY(1,1) NOT NULL,
	[MaDocGia] [int] NULL,
	[TenQuaTang] [nvarchar](100) NULL,
	[NgayNhan] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQua] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoaiSach]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoaiSach](
	[MaTheLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenTheLoai] [nvarchar](100) NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DocGia] ON 

INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [TienCoc]) VALUES (1, N'Trần Tuấn Anh', CAST(N'2004-08-12' AS Date), 100000.0000)
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [TienCoc]) VALUES (2, N'Phạm Thị Thu Trà', CAST(N'2005-02-25' AS Date), 150000.0000)
INSERT [dbo].[DocGia] ([MaDocGia], [TenDocGia], [NgaySinh], [TienCoc]) VALUES (3, N'Lê Hoàng Bách', CAST(N'2003-11-05' AS Date), 100000.0000)
SET IDENTITY_INSERT [dbo].[DocGia] OFF
GO
INSERT [dbo].[DocGia_Demo] ([MaDocGia], [TenDocGia], [HangThanhVien]) VALUES (1, N'Nguyễn Văn An', N'Khách hàng thân thiết')
INSERT [dbo].[DocGia_Demo] ([MaDocGia], [TenDocGia], [HangThanhVien]) VALUES (2, N'Trần Thị Nga', N'Khách hàng thân thiết')
GO
SET IDENTITY_INSERT [dbo].[LichSuGiaSach] ON 

INSERT [dbo].[LichSuGiaSach] ([MaLog], [MaSach], [GiaCu], [GiaMoi], [NgayThayDoi], [GhiChu]) VALUES (1, 1, 48000.0000, 99000.0000, CAST(N'2026-04-29T16:30:23.140' AS DateTime), N'Cập nhật giá sách tự động bởi Trigger')
INSERT [dbo].[LichSuGiaSach] ([MaLog], [MaSach], [GiaCu], [GiaMoi], [NgayThayDoi], [GhiChu]) VALUES (2, 1, 99000.0000, 100980.0000, CAST(N'2026-04-29T17:03:24.730' AS DateTime), N'Cập nhật giá sách tự động bởi Trigger')
INSERT [dbo].[LichSuGiaSach] ([MaLog], [MaSach], [GiaCu], [GiaMoi], [NgayThayDoi], [GhiChu]) VALUES (3, 2, 45000.0000, 45900.0000, CAST(N'2026-04-29T17:03:24.960' AS DateTime), N'Cập nhật giá sách tự động bởi Trigger')
SET IDENTITY_INSERT [dbo].[LichSuGiaSach] OFF
GO
SET IDENTITY_INSERT [dbo].[LichSuTraSach_Demo] ON 

INSERT [dbo].[LichSuTraSach_Demo] ([MaTra], [MaDocGia], [NgayTra], [TrangThaiTra], [DiemThuong]) VALUES (1, 1, CAST(N'2024-01-02' AS Date), N'Đúng hạn', CAST(1.0 AS Decimal(10, 1)))
INSERT [dbo].[LichSuTraSach_Demo] ([MaTra], [MaDocGia], [NgayTra], [TrangThaiTra], [DiemThuong]) VALUES (2, 1, CAST(N'2024-01-03' AS Date), N'Đúng hạn', CAST(1.0 AS Decimal(10, 1)))
INSERT [dbo].[LichSuTraSach_Demo] ([MaTra], [MaDocGia], [NgayTra], [TrangThaiTra], [DiemThuong]) VALUES (3, 1, CAST(N'2024-01-04' AS Date), N'Đúng hạn', CAST(1.0 AS Decimal(10, 1)))
SET IDENTITY_INSERT [dbo].[LichSuTraSach_Demo] OFF
GO
SET IDENTITY_INSERT [dbo].[QLMuonTra] ON 

INSERT [dbo].[QLMuonTra] ([MaGiaoDich], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [NgayTraThucTe], [TienPhat], [GhiChu]) VALUES (1, 1, 1, CAST(N'2026-03-01T00:00:00.000' AS DateTime), CAST(N'2026-03-15T00:00:00.000' AS DateTime), CAST(N'2026-03-12T00:00:00.000' AS DateTime), 0.0000, N'Sách trả nguyên vẹn')
INSERT [dbo].[QLMuonTra] ([MaGiaoDich], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [NgayTraThucTe], [TienPhat], [GhiChu]) VALUES (2, 3, 4, CAST(N'2026-01-10T00:00:00.000' AS DateTime), CAST(N'2026-01-24T00:00:00.000' AS DateTime), CAST(N'2026-01-20T00:00:00.000' AS DateTime), 0.0000, NULL)
INSERT [dbo].[QLMuonTra] ([MaGiaoDich], [MaDocGia], [MaSach], [NgayMuon], [NgayTraDuKien], [NgayTraThucTe], [TienPhat], [GhiChu]) VALUES (3, 1, 2, CAST(N'2026-04-20T00:00:00.000' AS DateTime), CAST(N'2026-05-04T00:00:00.000' AS DateTime), NULL, 0.0000, N'Đang mượn')
SET IDENTITY_INSERT [dbo].[QLMuonTra] OFF
GO
SET IDENTITY_INSERT [dbo].[QuaTang_Demo] ON 

INSERT [dbo].[QuaTang_Demo] ([MaQua], [MaDocGia], [TenQuaTang], [NgayNhan], [GhiChu]) VALUES (1, 1, N'Móc khóa thư viện', CAST(N'2026-04-30T09:03:50.100' AS DateTime), N'Tặng khi đạt mốc 10đ (Lên hạng Thân thiết)')
INSERT [dbo].[QuaTang_Demo] ([MaQua], [MaDocGia], [TenQuaTang], [NgayNhan], [GhiChu]) VALUES (2, 1, N'Combo Vở ghi và Bút bi', CAST(N'2026-04-30T09:03:50.110' AS DateTime), N'Phần thưởng đạt mốc 30đ')
INSERT [dbo].[QuaTang_Demo] ([MaQua], [MaDocGia], [TenQuaTang], [NgayNhan], [GhiChu]) VALUES (3, 2, N'Móc khóa thư viện', CAST(N'2026-04-30T09:07:08.453' AS DateTime), N'Tặng khi đạt mốc 10đ (Lên hạng Thân thiết)')
SET IDENTITY_INSERT [dbo].[QuaTang_Demo] OFF
GO
SET IDENTITY_INSERT [dbo].[Sach] ON 

INSERT [dbo].[Sach] ([MaSach], [MaTheLoai], [TenSach], [GiaBan], [NamXuatBan]) VALUES (1, 1, N'Giáo trình Triết học Mác-Lênin!', 100980, 2021)
INSERT [dbo].[Sach] ([MaSach], [MaTheLoai], [TenSach], [GiaBan], [NamXuatBan]) VALUES (2, 1, N'Toán cao cấp A1!', 45900, 2022)
INSERT [dbo].[Sach] ([MaSach], [MaTheLoai], [TenSach], [GiaBan], [NamXuatBan]) VALUES (3, 2, N'Cấu trúc dữ liệu và giải thuật', 157500, 2020)
SET IDENTITY_INSERT [dbo].[Sach] OFF
GO
SET IDENTITY_INSERT [dbo].[TheLoaiSach] ON 

INSERT [dbo].[TheLoaiSach] ([MaTheLoai], [TenTheLoai], [GhiChu]) VALUES (1, N'Giáo trình Đại cương', N'Vừa thêm sách mới lúc: Apr 29 2026  4:43PM')
INSERT [dbo].[TheLoaiSach] ([MaTheLoai], [TenTheLoai], [GhiChu]) VALUES (2, N'Công nghệ thông tin', NULL)
INSERT [dbo].[TheLoaiSach] ([MaTheLoai], [TenTheLoai], [GhiChu]) VALUES (3, N'Kinh tế - Tài chính', NULL)
SET IDENTITY_INSERT [dbo].[TheLoaiSach] OFF
GO
ALTER TABLE [dbo].[DocGia_Demo] ADD  DEFAULT (N'Mới') FOR [HangThanhVien]
GO
ALTER TABLE [dbo].[LichSuGiaSach] ADD  DEFAULT (getdate()) FOR [NgayThayDoi]
GO
ALTER TABLE [dbo].[QLMuonTra] ADD  DEFAULT (getdate()) FOR [NgayMuon]
GO
ALTER TABLE [dbo].[QLMuonTra] ADD  DEFAULT ((0)) FOR [TienPhat]
GO
ALTER TABLE [dbo].[QuaTang_Demo] ADD  DEFAULT (getdate()) FOR [NgayNhan]
GO
ALTER TABLE [dbo].[LichSuGiaSach]  WITH CHECK ADD  CONSTRAINT [FK_LichSuGiaSach_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[LichSuGiaSach] CHECK CONSTRAINT [FK_LichSuGiaSach_Sach]
GO
ALTER TABLE [dbo].[QLMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_QLMuonTra_DocGia] FOREIGN KEY([MaDocGia])
REFERENCES [dbo].[DocGia] ([MaDocGia])
GO
ALTER TABLE [dbo].[QLMuonTra] CHECK CONSTRAINT [FK_QLMuonTra_DocGia]
GO
ALTER TABLE [dbo].[QLMuonTra]  WITH CHECK ADD  CONSTRAINT [FK_QLMuonTra_Sach] FOREIGN KEY([MaSach])
REFERENCES [dbo].[Sach] ([MaSach])
GO
ALTER TABLE [dbo].[QLMuonTra] CHECK CONSTRAINT [FK_QLMuonTra_Sach]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [FK_Sach_TheLoaiSach] FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoaiSach] ([MaTheLoai])
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [FK_Sach_TheLoaiSach]
GO
ALTER TABLE [dbo].[DocGia]  WITH CHECK ADD  CONSTRAINT [CK_TienCoc_KhongAm] CHECK  (([TienCoc]>=(0)))
GO
ALTER TABLE [dbo].[DocGia] CHECK CONSTRAINT [CK_TienCoc_KhongAm]
GO
ALTER TABLE [dbo].[QLMuonTra]  WITH CHECK ADD  CONSTRAINT [CK_TienPhat_KhongAm] CHECK  (([TienPhat]>=(0)))
GO
ALTER TABLE [dbo].[QLMuonTra] CHECK CONSTRAINT [CK_TienPhat_KhongAm]
GO
ALTER TABLE [dbo].[Sach]  WITH CHECK ADD  CONSTRAINT [CK_NamXuatBan] CHECK  (([NamXuatBan]>(1900) AND [NamXuatBan]<=(2026)))
GO
ALTER TABLE [dbo].[Sach] CHECK CONSTRAINT [CK_NamXuatBan]
GO
/****** Object:  StoredProcedure [dbo].[sp_BaoCaoChiTietMuonTra]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_BaoCaoChiTietMuonTra]
AS
BEGIN
    -- Thiết lập tối ưu hóa truy vấn
    SET NOCOUNT ON;

    -- Lệnh SELECT thực hiện JOIN 4 bảng với tên trường chuẩn xác
    SELECT 
        DG.TenDocGia AS [Tên Độc Giả],    -- Cột đúng: TenDocGia
        S.TenSach AS [Tên Cuốn Sách],     -- Cột đúng: TenSach
        TL.TenTheLoai AS [Thể Loại Sách], -- Cột đúng: TenTheLoai
        MT.NgayMuon AS [Ngày Thực Hiện Mượn] -- Cột đúng: NgayMuon
    FROM [dbo].[QLMuonTra] MT
    INNER JOIN [dbo].[DocGia] DG ON MT.MaDocGia = DG.MaDocGia -- Cột đúng: MaDocGia
    INNER JOIN [dbo].[Sach] S ON MT.MaSach = S.MaSach          -- Cột đúng: MaSach
    INNER JOIN [dbo].[TheLoaiSach] TL ON S.MaTheLoai = TL.MaTheLoai -- Cột đúng: MaTheLoai
    ORDER BY MT.NgayMuon DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatThongTinSach]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CapNhatThongTinSach]
    @MaSach INT,       -- Truyền mã muốn sửa, hoặc truyền 0 nếu muốn thêm mới
    @TenSach NVARCHAR(255),
    @MaTheLoai INT, 
    @GiaBan MONEY
AS
BEGIN
    -- BƯỚC 1: Kiểm tra điều kiện logic (Giá bán phải > 0)
    IF (@GiaBan <= 0)
    BEGIN
        PRINT N'LỖI: Giá bán phải lớn hơn 0! Giao dịch thất bại.';
        RETURN; -- Thoát khỏi SP, không thực hiện lệnh bên dưới
    END

    -- BƯỚC 2: Kiểm tra sự tồn tại của Mã Sách
    IF EXISTS (SELECT 1 FROM [Sach] WHERE [MaSach] = @MaSach)
    BEGIN
        -- Nếu đã có mã này: Thực hiện lệnh UPDATE
        UPDATE [Sach]
        SET [TenSach] = @TenSach, 
            [MaTheLoai] = @MaTheLoai, 
            [GiaBan] = @GiaBan
        WHERE [MaSach] = @MaSach;
        
        PRINT N'THÔNG BÁO: Đã CẬP NHẬT thành công thông tin sách mã: ' + CAST(@MaSach AS NVARCHAR);
    END
    ELSE
    BEGIN
        -- Nếu chưa có mã này (hoặc @MaSach = 0): Thực hiện lệnh INSERT
        -- Lưu ý: Không chèn cột MaSach vì cột này là IDENTITY (Tự động tăng)
        INSERT INTO [Sach] ([MaTheLoai], [TenSach], [GiaBan])
        VALUES (@MaTheLoai, @TenSach, @GiaBan);
        
        PRINT N'THÔNG BÁO: Đã THÊM MỚI sách thành công (Mã tự động sinh bởi hệ thống)!';
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeSachTheoLoai]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThongKeSachTheoLoai]
    @MaTheLoai INT,                     -- Tham số vào (Input)
    @TongSoLuong INT OUTPUT,            -- Tham số ra 1 (Output)
    @TongGiaTri MONEY OUTPUT            -- Tham số ra 2 (Output)
AS
BEGIN
    -- Thực hiện tính toán và gán giá trị vào các biến OUTPUT
    SELECT 
        @TongSoLuong = COUNT(*), 
        @TongGiaTri = SUM(GiaBan)
    FROM [Sach]
    WHERE [MaTheLoai] = @MaTheLoai;

    -- Kiểm tra nếu không có sách nào thuộc loại này (tránh giá trị NULL)
    IF @TongSoLuong = 0
    BEGIN
        SET @TongGiaTri = 0;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_TinhDiem_VinhDanh]    Script Date: 4/30/2026 9:30:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ====================================================================
-- BƯỚC 4: TẠO CHƯƠNG TRÌNH (PROCEDURE DÙNG CURSOR)
-- ====================================================================
CREATE PROCEDURE [dbo].[sp_TinhDiem_VinhDanh]
    @MaDG INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MaTra INT, @TongDiem DECIMAL(10,1) = 0, @HangHienTai NVARCHAR(50);
    DECLARE @DiemCong DECIMAL(10,1), @DaTangMocKhoa BIT = 0, @DaTangVoBut BIT = 0;

    -- Lấy hạng ban đầu
    SELECT @HangHienTai = HangThanhVien FROM DocGia_Demo WHERE MaDocGia = @MaDG;

    -- Cursor duyệt lịch sử
    DECLARE cur_RewardSystem CURSOR FOR 
        SELECT MaTra FROM LichSuTraSach_Demo WHERE MaDocGia = @MaDG ORDER BY NgayTra ASC; 

    OPEN cur_RewardSystem;
    FETCH NEXT FROM cur_RewardSystem INTO @MaTra;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        -- Quyết định điểm cộng dựa trên hạng hiện hành
        IF @HangHienTai = N'Khách hàng thân thiết' SET @DiemCong = 1.5;
        ELSE SET @DiemCong = 1.0;

        UPDATE LichSuTraSach_Demo SET DiemThuong = @DiemCong WHERE MaTra = @MaTra;
        SET @TongDiem = @TongDiem + @DiemCong;

        -- KIỂM TRA MỐC 10 ĐIỂM
        IF @TongDiem >= 10 AND @HangHienTai = N'Mới'
        BEGIN
            SET @HangHienTai = N'Khách hàng thân thiết';
            UPDATE DocGia_Demo SET HangThanhVien = @HangHienTai WHERE MaDocGia = @MaDG;
            
            INSERT INTO QuaTang_Demo (MaDocGia, TenQuaTang, GhiChu)
            VALUES (@MaDG, N'Móc khóa thư viện', N'Tặng khi đạt mốc 10đ (Lên hạng Thân thiết)');
            
            PRINT N'>> [HỆ THỐNG]: Tặng MÓC KHÓA cho Độc giả ' + CAST(@MaDG AS NVARCHAR) + N' tại mốc ' + CAST(@TongDiem AS NVARCHAR) + N'đ';
        END

        -- KIỂM TRA MỐC 30 ĐIỂM
        IF @TongDiem >= 30 AND @DaTangVoBut = 0
        BEGIN
            INSERT INTO QuaTang_Demo (MaDocGia, TenQuaTang, GhiChu)
            VALUES (@MaDG, N'Combo Vở ghi và Bút bi', N'Phần thưởng đạt mốc 30đ');
            
            PRINT N'>> [HỆ THỐNG]: Tặng VỞ & BÚT cho Độc giả ' + CAST(@MaDG AS NVARCHAR) + N' tại mốc ' + CAST(@TongDiem AS NVARCHAR) + N'đ';
            SET @DaTangVoBut = 1;
        END

        FETCH NEXT FROM cur_RewardSystem INTO @MaTra;
    END

    CLOSE cur_RewardSystem;
    DEALLOCATE cur_RewardSystem;
END
GO
